@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.mainFxmlClass {

    -fx-background-color: #ffffff;
}

.settings_btn:hover{
    -fx-fill: #356fe4;
}

.chooseFile_btn{
    -fx-background-color: #0b46a3;
    -fx-border-radius: 0px;
    -fx-font-famuily: 'Roboto', sans-serif;
    
}
.chooseFile_btn:hover{
    -fx-background-color: #4287f5;
    
}

.loadDS_btn{
    -fx-background-color: #07a614;
    -fx-border-radius-width: 0px;
    -fx-font-famuily: 'Roboto', sans-serif;
    
}
.loadDS_btn:hover{
    -fx-background-color: #42ed50;
    
}
.startMining_btn{
    -fx-background-color: #0b46a3;
    -fx-border-radius-width: 0px;
    -fx-font-famuily: 'Roboto', sans-serif;
    
}
.startMining_btn:hover{
    -fx-background-color: #4287f5;
    
}
.filepath_input{
    -fx-border-width:  0px 0px 2px 0px;
    -fx-border-color: #3a51b7;
    -fx-background-color:  transparent;
}

.itemSetTitle_txt{
    -fx-fill:#0b46a3;
    -fx-font-family:'Times New Roman';
    -fx-font-size:20;
    -fx-font-weight:bold;
}
.itemSet_tv .filler {
    -fx-background-color:transparent;

}
.itemSet_tv{
    -fx-border-width: 2px ;
    -fx-border-style:solid;
    -fx-border-color:#4287f5;
}
.itemSet_tv .column-header-background{
    -fx-background-color: transparent;
    
}
.itemSet_tv .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #e61515;
    
}

.itemSet_tv .column-header {
    -fx-background-color: transparent;
    
   
}

.itemSet_tv .column-header:selected{
    -fx-border-color: #2f9eed;
}

/************************************** Dark Material design tableview **********************************************

.root{
    -fx-background-color: #262626;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}



.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; 
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; 
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
.table-view .filler {

}


****************************************************************************************************************************/
